/* @font-face {
    font-family: 'poppins',sans-serif;
    src: url('../fonts/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'poppins',sans-serif;
    src: url('../fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'poppins',sans-serif;
    src: url('../fonts/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'poppins',sans-serif;
    src: url('../fonts/Poppins-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
} */